#*.class precisamos submeter os .class no trabalho

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar o trabalhor vai ser entrege pelo guthub, precisa constar o .jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# files from the idea
*.xml
*.iml
*.idea
*.name
